;
		function printResults(file,path,size){
			str = '<div class="result"><a href="'+path+'/'+file+'" target="_BLANK"><span class="path">'+path+'/</span><span class="file">'+file+'</span></a> - <span class="size">'+size+'</span></div>\n';
			$("#results").append(str);
		};
	
		$("form").submit(function(){
			$("#results").html("<h2>Search Results:</h2>");
			var search_query = $("#search_query").val();
			console.log(search_query);
			var reg = new RegExp(search_query,"i");

			$.each(json.files, function(i,v) {
				if (v.file.search(reg) != -1) {
					printResults(v.file,v.path,v.size);
					return;
				}
			});
			return false;
		});
	
	});
	</script>
</head>
<body>

