
;
//end json

$(document).ready(function(){

/* Po Indexer Search JS start (po@poism.com) */	
	$('input#search_query').focus();

	function replaceHtml(el, html) {
	//function from: http://blog.stevenlevithan.com/archives/faster-than-innerhtml
		var oldEl = typeof el === "string" ? document.getElementById(el) : el;
		/*@cc_on // Pure innerHTML is slightly faster in IE
			oldEl.innerHTML = html;
			return oldEl;
		@*/
		var newEl = oldEl.cloneNode(false);
		newEl.innerHTML = html;
		oldEl.parentNode.replaceChild(newEl, oldEl);
		/* Since we just removed the old element from the DOM, return a reference
		to the new element, which can be used to restore variable references. */
		return newEl;
	};

	var t = json.files.length;
	$('.result_info').html("<p>"+t+" total files.</p>");
	var results = [];
	var resPerPg = 1000; // results per page, change as desired
	var r = 0; // result count
	var selPath = 0; // .sel path depth, keeps track of dir click
	
	// print search results page
	function resultsPage(pg){
		if (typeof results[pg] != 'undefined' && results[pg].length > 0){
			$('.result_info').html("<p><b>Search results:</b> "+r+" matches out of "+t+" total files.</p>");
			var navStr = "<b>Page</b> ";
			 // make page links
			for (var i=1; i <= results.length-1; i++){
				if (pg == i) { navStr+=' | <b>'+i+'</b>'; }
				else { navStr+=' | <a>'+i+'</a>'; }
			}
			$('.result_nav').html(navStr);
			replaceHtml('results',results[pg]);
		}
		// no results
		else { 
			$('.result_info').html("<p><b>Search results:</b> 0 matches out of "+t+" total files.</p>");
			$('.result_nav').html("");
			replaceHtml('results',"");
		}
		// click .result_nav page links
		$('.result_nav a').each(function() { 
			$(this).click( function() { resultsPage($(this).html()); });		
		});
		// click span.p path dir for path dir search ( selPath )
		$('span.p').each(function() { 
			$(this).click( function() {
				selPath = 0; //reset
				selPath++;
				var s = $(this).text();
				var prev = $(this).prev();
				// create path search, increment selPath
				while (prev.hasClass('p')){
					selPath++;
					s = prev.text()+s;
					prev = prev.prev();	
				}
				$("#search_query").val(s);
				$("#search_type").val('path');
				search(s,'path'); 
			});
		});
		$('span.n').css('width',Math.ceil($('span.n').last().width())); // set all # widths to be equal
		return false;
	}
	
	// break each path dir into it's own span.path
	function prepPath(p){
		p = p.split('/');
		var rp = '';
		var sp = 0;
		var pa = '';
		// create path string and add .sel (highlighting) if it's a selPath
		for (var i=1; i<p.length-1; i++){
			pa = '';
			if (selPath >= i){
				pa = 'sel';
			}			
			rp+='<span class="p '+pa+'">'+p[i]+'/</span>';
		}
		return rp;
	}
	
	// search
	function search(search_query,search_type){
		scroll(0,0); // to top of page
		console.log("find: '"+search_query+"' in "+search_type);
		// use regexp, and escape special chars
		var reg = new RegExp(search_query.replace(/[-[\]{}()*+?.,\\^$|#\s]/g, "\\$&"),"i");
		var p = 1; // pg count
		var m = false; // match
		r = 0; // reset count
		results = []; // reset results
		results[1] = "";
		
		// find matching
		for (var i=0; i<t; i++) {
			m = false;
			if (search_query.length < 2) { m = true; }
			else if ( search_type == "file" && (json.files[i].f.search(reg) != -1)) { m = true; }
			else if ( search_type == "path" && (json.files[i].p.search(reg) != -1)) { m = true; }
			else if ( search_type == "path_file" && ( json.files[i].f.search(reg) != -1 || json.files[i].p.search(reg) != -1)) { m = true; }

			// paginate
			if ( m == true ){
				if (r == p*resPerPg){
					p++;
					results[p]="";
				}
				r++;
				// concat str into results[pg]
				results[p]+='<div class="result"><span class="n">'+r+'</span>'+prepPath(json.files[i].p)+'<span class="f"><a href="'+json.files[i].p+json.files[i].f+'" target="_BLANK">'+json.files[i].f+'</a></span><span class="s">'+json.files[i].s+'</span></div>';
			}
		}			
		// print results
		resultsPage(1);
	}
	
	$("form#search_form").submit(function(){
	// do search
		selPath = 0; //reset
		search($("#search_query").val().trim(),$("#search_type").val());
		return false;
	});
	
/* Po Indexer Search JS end*/

}); //end $(document).ready
</script>
</head>
<body>

